:root {
  --nat-navbar-bg: #faf8f7;
  --nat-navbar-text-color: black;
}

#navbar-style {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#brand-style {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

#navlink-style {
  color: var(--nat-navbar-text-color);
}


html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
