:root {
  --nat-navbar-bg: #faf8f7;
  --nat-navbar-text-color: black;
}

.text-font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar-style {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#brand-style {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

#navlink-style {
  color: var(--nat-navbar-text-color);
}

.footer-style {
  background-color: #faf8f7;
}

.footer-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.green-bg {
  background-color: green;
}

.white-text {
  color: white;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.profile-sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
}

.profile-sidebar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.profile-contents {
  flex-basis: 0;
  flex-grow: 999;
  align-items: stretch;
}


.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.info {
  background-image: url('/landing-page-background.jpg');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  min-height: 86vh;                  
  color: white;                   
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  